body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  overflow: scroll;
  overflow-x: auto;
  max-height: fit-content;
}

#cadastroBox{
  padding: 10vh;
  background-color: rgb(229, 232, 235);
  border: 2vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container{
  overflow:auto;
  overflow-x: auto;
  max-height: fit-content;
}

h2{
  color: rgb(255, 0, 0);
}




.button-padrao {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(243, 236, 236);
  cursor: pointer;
  font-weight: bold;
  outline: none;
  outline: 0;
  padding: 8px 16px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-padrao:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  color: #fff;
}

.button-detalhe{
  padding: 2vh;
}



.col-sm-4{
  width: 100%;
}

@media screen and (max-width: 620px) {

  #cadastroBox{
    padding: 5vh;
  } 

  .col-sm-12{
    width: 100%;
  }

}

